* {
  font-size: calc(60% + 0.8vmin);
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "raleway", sans-serif;
}

main,
header {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
}

:root {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);

  --round-corners: 0.25em;
}

h1 {
  font-size: 2rem;
  text-decoration: underline;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ebecf0;
  padding: 0.8rem;
  border-radius: var(--round-corners);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-width: 10rem;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

ol > li {
  padding: 0.2rem;
  border-radius: var(--round-corners);
  background-color: white;
  list-style-type: none;
  border-left: 5px solid black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
}

ol > li input {
  width: 1.5em;
  height: 14px;
}

ol > li:focus,
ol > li:hover {
  border-left: 5px solid yellowgreen;
}

ol > li > p {
  padding: 0.5em 1em;
}

/* -------------------- */

.mouseEl {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}

.hidden {
  display: none;
}
